  {% extends "base.html" %}
  {% block style %}

  {% endblock style %} 
  {% block content %}
  <div>
    <div>
      <strong>제목 : {{ title }}</strong>
      <span style="float: right;">작성시간 : {{ new_datetime }}</span>
      <div style="clear: both;"></div>
      <hr>
  </div>
      <div>
        <p> 내용 : {{ content|linebreaks }}</p>
      </div>
      <hr>
    </div>
    <form action="{% url "articles:delete" pk%}">
      <input type="submit" value="삭제">
    </form>
    <hr>
  </div>

{% endblock content %}
