{% extends "base.html" %}

{% block style %}
.home_html_container{
  height: 600px;
	width: 100%;
}

.home_html_write_at{
  width:100%;
  height:550px;
}

.home_html_box{
  background-color : white;
  height: 30px;
	width: 100px;
}
.announcement_atag{
  width:100%;
  height:550px;
  text-align: center
}
.atag{
  text-decoration-line: none;
  color : black;
  font-size: 23px;
  font-weight : bold
}

{% endblock style %}

{% block content %}

  <div class="d-flex home_html_container flex-column flex-lg-row">

    <div class="home_html_write_at d-flex flex-column justify-content-center">

      <div class="d-flex justify-content-center m-4">
        <div class="d-flex flex-column">
          <h1 class="fw-bold h1 lh-lg">안녕하세요</h1>
          <h1 class="fw-bold h2 lh-sm">구미 2반 귀요미들 입니다.</h1>
          <h1 class="fw-bold h2 lh-sm">익명 게시판과 사이다를 이용해 보세용!</h1>
          <h1 class="fw-bold h2 lh-sm">꿀잼이라구~</h1>
        </div>
        </div>
        <div class="d-flex justify-content-center mx-5 mb-5">
          <a href="{% url "articles:articles_list" %}"><button class="btn btn-secondary btn-lg text-center me-5">익명 게시판</button></a>
          <a href="{% url "rboards:rboards_list" %}"><button class="btn btn-secondary btn-lg text-center me-5">실명 게시판</button></a>
        </div>
      </div>
      
      {% comment %} 카로쉘 {% endcomment %}
        <div class="announcement_atag m-5 border border-white border-5 bg-light">
          <a class="atag" href="{% url "announcements:announcement"%}">{{announce.title}}</a>
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          {% comment %} 카로쉘 이미지 {% endcomment %}
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{carousel1}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{carousel2}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{carousel3}}" class="d-block w-100" alt="...">
            </div>
          </div>        
          {% comment %} 카로쉘 이미지 {% endcomment %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      {% comment %} 카로쉘 {% endcomment %}
      
    </div>
  </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
