{% extends "base.html" %}
{% load static %}
{% block style %}
.home_html_container{
  height: 600px;
	width: 100%;
}

.home_html_write_at{
  height: 600px;
  width:50%;
}

.home_html_box{
  background-color :white;
  height: 30px;
	width: 100px;
}


{% endblock style %}

{% block content %}

  <div class="d-flex home_html_container flex-column flex-lg-row">

    <div class="home_html_write_at d-flex flex-column justify-content-center">

      <div class="d-flex justify-content-center m-5">
        <div class="d-flex flex-column">
          <h1 class="fw-bold h1 lh-lg">안녕하세요</h1>
          <h1 class="fw-bold h2 lh-sm">구미 2반 귀요미들 입니다.</h1>
          <h1 class="fw-bold h2 lh-sm">익명 게시판과 사이다를 이용해 보세용!</h1>
          <h1 class="fw-bold h2 lh-sm">꿀잼이라구~</h1>
        </div>
        </div>
        <div class="d-flex justify-content-center mx-5 mb-5">
          <a href="{% url "articles:new" %}"><button class="btn btn-secondary btn-lg text-center me-5">글 쓰기</button></a>
          <a href="{% url "articles:list" %}"><button class="btn btn-secondary btn-lg text-center me-5">글 목록</button></a>
        </div>
      </div>
      
      {% comment %} 카로쉘 {% endcomment %}
        <div class="home_html_write_at m-5 border border-white border-5 bg-light">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner d-flex align-content-center" style="max-width: 800px; min-height: 600px; max-height: 600px;">
            <div class="carousel-item active d-flex flex-column justify-content-center">
              <img src="{% static 'home_img.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'caro2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'caro3.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      {% comment %} 카로쉘 {% endcomment %}
      
    </div>
  </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
