

{% extends "base.html" %}
{% block content %}
{% for title, date_gap,pk in temp%}
<form method="POST" action="{% url 'articles:detail' pk%}">
{% csrf_token %}
    <div  class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-white text-blackW mt-5">
                    <button type='submit' class="card-body bg-white">
                        <h5 class="card-title"><p>제목 : {{title}}</p>
                        </h5>
                        <p class="card-text">{{date_gap}}</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock content %}