{% extends "base.html" %}

{% block style %}
.div {
  width: 100%;
}

.input1{
  border: 2px solid black
  border-radius : 5px;
  background-color: #ffef6b;
}

.my-hr2 {
  border: 0;
  height: 2px;
  background: black;
}
{% endblock style %}

{% block content %}
<div class="container pt-3">
  <div class="div">
    <div>
    <h2 class="m-3" style="text-align:center;"><strong>새 글 쓰기</strong></h2>
    </div>
    <hr class="mx-3 my-hr2">
    <form action="{% url "articles:create" %}" method="POST">
      {% csrf_token %}  <!--POST 요청시 필요한 요소-->
      <div class="mx-3">
        <input type="text" placeholder="제목" id="title" name="title" style="width: 100%;"> 
      </div>
      <p></p>
      <hr class="mx-3 my-hr2">
      <div class="mx-3">
        <textarea name="content" placeholder="내용" id="content" cols="30" rows="8" style="width: 100%;"></textarea>
      </div>
      <div style="float:right">
        <input type="submit" value="글쓰기" class="m-3 input1 rounded">
      </div>
    </form>
  </div>
  </div>
{% endblock content %}