{% extends "base.html" %}
{% load humanize %}
{% load rboards_custom_tag %}
{% block style %}
.bg_top_2{
  width: 100%;
  height: 330px;
  background-color: white;
  position: absoulte ;
  top: 0;
  margin: 0;
}
.bg-yellow{
  background-color: #ffe651;
}
.bg-realgrey{
  border: 1px solid lightgrey;
}

{% endblock style %} 

{% block content %}
<div class='bg_top_2'>
  <div class="container mt-5 mb-3">
    <div>
      <strong class="text-break"> {{ title }}</strong>
      <span style="float: right;">작성자 : {{ author }}</span>
      <div style="clear: both;"></div>
      <hr>
    </div>
    {% if img_url %}
      <img src="{{ img_url }}" alt="image" style="max-width: 90%;">
    {% endif %}
      <div>
        <!--여기에 클래스 추가-->
        <p class="text-break" style="color: rgb({{red|safe}}, {{green|safe}}, {{blue|safe}}); font-size : {{textsize|safe}}px; white-space: pre-line" > {{content|urlize|safe|target_blank}}</p>
      </div>
      <hr>
      <span style="float: right;">작성시간 : {{ new_datetime }}</span>
    <p>조회수 : {{visited_count}} </p>
    <div class="row">
      <div class='col-3 border border-0'>
        <form method="POST" action="{% url 'rboards:like_article' pk %}">
          {% csrf_token %}
          {% if request.user in liked_users %}
          <button class='btn btn-primary border border-0' type="submit">🧡 추천!</button>
          {% else %}
          <button class='btn btn-outline-primary' type="submit">🧡 추천!</button>
          {% endif %}
          <span> {{ like }} </span>
        </form>
      </div>
      {% comment %} <div class='col-3 border border-0'>
        <form method="POST" action="{% url 'rboards:dislike_article' pk %}">
          {% csrf_token %}
          {% if request.user in disliked_users %}
          <button class="btn btn-danger" type="submit">👎 비추</button>
          {% else %}
          <button class="btn btn-outline-danger" type="submit">👎 비추</button>
          {% endif %}
          <span> {{ dislike }} </span>
        </form>
      </div> {% endcomment %}
    </div>
  </div>
  <div class="container mt-5">
    <strong>댓글 ({{comments_count}}) </strong>
    <form action="{% url 'rboards:comment' pk %}" method="POST">
      {% csrf_token %}
      <textarea name="comment" id="comment" row="3" style="width: 100%;"></textarea>
      <input class="btn btn-light btn-lg text-center me-5" type="submit" value="댓글 쓰기">
      
    </form>
  </div>
  {% for comment in comments %}
    <div class="container my-4 pt-4 pb-2 px-5 bg-light bg-realgrey">
      <div class="row">
        <div class='col-8 col-md-9 col-lg-10 align-self-center'>
          <div class="mb-3">
            <p><span class="pe-3">{{ comment.created_at }}</span> <span class="border border-dark-subtle"></span> <span class="ps-3 text-body-tertiary">{{ comment.user.first_name }}</span> </p>
          </div>
          <div class="my-2 mx-5 text-break" style="white-space: pre-line">{{comment.content|urlize|safe|target_blank}} </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 align-self-center">
          <div class='border border-0 pb-2'>
            <form method="POST" action="{% url 'rboards:like_comment' comment.pk %}">
              {% csrf_token %}
              {% if request.user in comment.comment_liked_users.all %}
              <button class='btn btn-primary' type="submit">👍 좋아요</button>
              {% else %}
              <button class='btn btn-outline-primary' type="submit">👍 좋아요</button>
              {% endif %}
              <span> {{ comment.like_count }} </span>
            </form>
          </div>
          <div class='border border-0 pb-2'>
            <form method="POST" action="{% url 'rboards:dislike_comment' comment.pk %}">
              {% csrf_token %}
              {% if request.user in comment.comment_disliked_users.all %}
              <button class="btn btn-danger" type="submit">👎 싫어요</button>
              {% else %}
              <button class="btn btn-outline-danger" type="submit">👎 싫어요</button>
              {% endif %}
              <span> {{ comment.dislike_count }} </span>
            </form>
          </div>
        </div>
      </div>
    </div>  
  {% endfor %}
  

  {% comment %} <form action="{% url "rboards:delete" pk %}">
    <input type="submit" value="삭제">
  </form> {% endcomment %}
</div>

{% endblock content %}
