{% extends "base.html" %}
{% load static %}
{% block style %}
.imagesize{
  height: 300px;
  width: 300px;
  margin-top: 0px;
  
}
{% endblock style %}
{% block content %}
{% for title, date_gap,pk, content, name in temp%}
  <div  class="container col-md-12 ">
    <div class="row">
      <form method="POST" action="{% url 'rboards:detail' pk%}">
        {% csrf_token %}
        <div class="col-md-6 offset-3 ">
          <div class="card text-black mt-5">
            <button class="btn btn-outline-none" type='submit'>
              <div class="card-title"><span class='px-2' style='float: left; font-size: 1.8rem;'>{{title}}</span>
                <span style='float: right;' class="text-muted">{{date_gap}}</span>
              </div>   
              <br>
              <br>     
              <p class="card-text px-3" style='float: left;font-size: 1.2rem'>{{content}}</p>
              <span style="float: right;">작성자 : {{ name }}</span>
            </button>   
          </div>
        </div>
      </form>
    </div>
  </div>
{% endfor %}


<a href="{% url 'rboards:new' %}" style="float: right;"><img src="{% static 'gcova.png' %}" class='imagesize fixed-bottom '></a>
{% endblock content %}