{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공지사항!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <style>
      .bg_top{
        width: 100%;
        height: 100%
        position : static;
        top : 0;
        margin: 0;
      }
      .announcement {
        background-color : #e7e2dc;
        height : 300px;
        text-align : center;
        font-size : 65px;
        padding-top : 10px;
        margin-bottom: 0
      }
      .col {
        font-size : 18px;
      }
      .hr {
        border: none;
        height: 3px;
        border-top: 3px dotted #000000;
      }
      .card.border-light {
        border-color: white;
      }
      .bg{
        padding-bottom : 70px;
        border : none;
        border-bottom : black 1px solid rgba(0, 0, 0, 0);
        background-color : #e7e2dc;
        padding-left : 50px;
        padding-right : 50px;
      }

    </style>
  </head>
  <body>
    <!-- 네비게이터 -->
        <header class=" border-bottom fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'title-removebg-preview.png' %}" height="30px" alt="로고">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'articles:articles_list' %}">익명 게시판</a>
                        </li> 
                        <li>
                          <a class="nav-link" href="{% url 'rboards:rboards_list' %}">실명 게시판</a>
                        </li>
                        <li>
                          <a class="nav-link" href="{% url 'articles:polls_list' %}">투표 게시판</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link fw-bold" style="color: #8a2be2;" href="{% url 'ciders:main' %}">사이다</a>
                        </li> 
                            {% if request.user.is_authenticated %}
                    
                  
                      <li class="nav-item">
                        <form action="{% url "accounts:logout" %}" method="POST">
                          {% csrf_token %}
                          <input type="submit" value="로그아웃" class="nav-link fw-bold" style="color: red;">
                        </form>
                      </li>

                      {% else %}
                      
                    
                      <li class="nav-item">
                        <a class="nav-link fw-bold" style="color: blue;" href="{% url 'accounts:signup' %}?next={{ request.path }}">회원가입</a>
                        </form>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-bold" style="color: blue;" href="{% url 'accounts:login' %}?next={{ request.path }}">로그인</a>
                      </li> 
                      {% endif %}
                        </ul>
                        
                    </div>
                </div>
            </nav>
            
        </header>
    <!-- 네비게이터 -->
    <div class= "bg_top">
      <div class='container' style=" padding-top: 100px;">
        <h2 class = "announcement">
          <hr style = "border : none; height : 3px; background-color : #000000;">
          구미_2반_공지사항 
          <hr class = "hr">
          <div class="row">
            <div class = "col">
              ★황사장★
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
          </div>
          <div class="row">
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
            <div class = "col">
              1
            </div>
          </div>
          <hr style = "border : none; height : 8px; background-color : #000000;">
        </h2>
        {% for announce in announces reversed %}
          <div class="bg">
          <p style = "text-align : center; font-size : 30px; font-weight : bold;" >{{announce.title}}</p>
          <hr>
          <p style = "text-align : left; font-size : 21px; color : gray">{{announce.created_at}}</p>
          <p style = "font-size : 21px;">{{announce.content}}</p>
          </div>
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
